In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
def clean_jams(input_file: str, output_dir: str = ".", rank: str = "Genus"):
    df = pd.read_csv('featuretable.csv', usecols=[rank, "Species", "NumBases"])
    df["Count"] = df["NumBases"] / df["NumBases"].sum()
    display(df.head())
    genus_df = df[[rank, "Count"]].groupby(rank).sum()
    genus_df.sort_values("Count", ascending=False, inplace=True)

    # We need to remove g__ and s__ from the index names
    genus_df.index = genus_df.index.str.replace("g__", "")
    genus_df.index = genus_df.index.str.replace("s__", "")

    genus_df.to_csv(os.path.join(output_dir, f"{rank}_relabund.csv"))

clean_jams("featuretable.csv", ".", "Species")

                                     Species    NumBases     Count
0            s__Halomonas_Unclassified_HL_93  8736102441  0.315495
1                     s__Muricauda_lutimaris  4873253116  0.175992
2  s__Marinobacter_Unclassified_LV10R510_11A  4104411382  0.148226
3       s__Psychrobacter_Unclassified_72_O_c  2965136305  0.107083
4       s__Cohaesibacter_Unclassified_ES_047  1899305745  0.068591